<p id="notice"><%= notice %></p>

<p>
  <strong>Upload:</strong>
  <%= @entry.upload %>
</p>

<p>
  <strong>Download:</strong>
  <%= @entry.download %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
